<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<title>404 Error</title>
<body>
		
				<div class="splash-container">
				    <div class="splash">
				        <h1 class="splash-head">Sorry My Friend, We cannot Find the page you are looking for</h1>
				        <p>
				            <a href="/" class="pure-button pure-button-primary">Go Back</a>
				        </p>
				    </div>
				</div>


</body>
</html>
