<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src ="/js/script.js" /></script>
</head>
<title>404 Error</title>
<body>

				<div class="splash-container">
				    <div class="splash">
				        <h1 class="splash-head">Sorry My Friend, We cannot Find the page you are looking for</h1>
				        <p>
    	                <form class="pure-form pure-form-stacked">
		                    <a href="/">Go Back</a>
		                </form>
				        </p>
				        <p>
				            <a  class="pure-button pure-button-primary" onclick="getDocumentLink()">Go</a>
				        </p>
				    </div>
				</div>


</body>
</html>
